* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: #09839f;
  height: 100vh;
}

.form-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
}

/* Weather Component Styles */
.weather-content {
  width: 100%;
  background: #16394cbb;
  padding: 3rem;
  color: white;
  border-radius: 5px;
  min-width: 500px;
}

.weather-info p {
  margin: 0.5rem;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

h2 {
  color: white;
  margin: 1rem;
  text-align: center;
}

.login {
  width: 50%;
  background: #edf0f3;
  padding: 3rem;
  color: white;
  border-radius: 5px;
  min-width: 300px;
}

form div {
  width: 100%;
}

label {
  display: inline-block;
}

input {
  width: 100%;
  padding: 0.9rem;
  border: 1px solid black;
}

button {
  padding: 0.6rem 1.7rem;
  background-color: #09839f;
  color: white;
  border: 0;
  margin-top: 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
}

.display {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.2rem;
}

span {
  display: block;
  padding: 0.2rem 0;
  font-size: 1rem;
}
